.body {
    font-family: arial;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.carousel-wrapper {
    position: relative;
}

.myCarousel {
    top: 0;
 }

 .hr {
     width: 100%;
     height: 3px;

 }

 .hr1 {
     width: 5%;
     height: inherit;
     float: left;
     background-color: #ff1d83;
 }

 .hr2 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #f8c0d2;
}

.hr3 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #8088fc;
}

.hr4 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #293094;
}

.hr5 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #fcac66;
}

.hr6 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #fc7704;
}

.hr7 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #187904;
}

.hr8 {
    width: 5%;
    height: inherit;
    float: left;
    background-color: #2ffd06;
}

 .mynav {
     position: relative;
     top: 0;
     z-index: 10;
     background-color: #ffffff;
     width: 100%;
     color: #1b1b1b;
 }

 .nav-link {
     color: #1b1b1b;
 }

.nav-item a:hover {
    color: #facb49;
}

.carousel-inner img {
    width: 5202px;
    height: 160px;
}

@media screen and (min-width: 
760px) {
    .carousel-inner img {
        width: 5202px;
        height: 400px;
    }
}

.home-services {
    text-align: center;
    overflow: hidden;
}

.home-services .mylead {
    font-size: 25px;
    font-weight: light;
}

.home-services .card {
    height: 480px;
}

.myactive {
    text-decoration: #facb49 overline;
}

.message {
    text-align: center;
}

.message img {
    max-width: 10%;
    padding-top: 5%;
}

.message p:nth-child(2){
    font-size: 100%;
    font-weight: 400;
}

.message button{
    padding: 8px;
    background-color: orange;
    color: white;
    font-size: larger;
    border: solid 1px orange;
    border-radius: 30px;
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow{
    0%{
        border: solid 5px orange;
        background-color: orange;
    }

    25%{
        border: solid 5px rgb(247, 172, 34);
        background-color: rgb(247, 172, 34);
    }

    50%{
        border: solid 5px rgb(235, 174, 61);
        background-color: rgb(235, 174, 61);
    }

    75%{
        border: solid 5px rgb(247, 172, 34);
        background-color: rgb(247, 172, 34);
    }

    100%{
        border: solid 5px orange;
        background-color: orange;
    }
}

.message button:hover {
    background-color: #f183b5;
    border-color: #f183b5;
    animation-play-state: paused;
}

.frame {
    margin-bottom: 5%;
}

.portfolio p:nth-child(1) {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.contact {
    background-color: whitesmoke;
    text-align: center;
}

.submit {
    width: 100%;
    line-height: 25px;
    color: white;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 30px;
}

.svgs {
    margin-bottom: 5%;
    text-align: center;
}

.explore {
    font-size: 5px;
    text-align: center;
    color: white;
}

.explore a {
    text-decoration: none;
    color: white;
}

.page-footer {
    padding-top: 15px;
}

.footer a, i{
    text-decoration: none;
    color: orange;
}

.socials a{
    color: black;
}

.tabby {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
}

.tabby a {
    color: rgb(243, 166, 24);
}

#myTabContent {
    margin-top: 3%;
}

#myTabContent img {
    margin-bottom: 20px;
    max-width: 200px;
}

.image {
    background-color: rgb(73, 22, 59);
    height: 200px;
    max-width: 100%;
    text-align: center;
}

.backdrop {
    max-width: 80%;
    height: 200px;
    position: relative;
}

.content {
    background-color: white;
    height: auto;
    margin-top: -6%;
    margin-bottom: 3%;
    position: relative;
}

.content p:nth-child(1) {
    font-weight: bold;
    font-size: large;
    line-height: 0em;
}

.content .row {
    margin-bottom: 2%;
}

.collage {
    text-align: center;
}

.half{
    text-align: right;
    margin-right: 0px;
}

.half2 {
    text-align: left;
    margin-left: 0px;
}

.collage img:nth-child(-n+1){
    max-width: 50%;
    height: auto;
    margin-bottom: 0.5em;
}

.banner {
    text-align: center;
}

.banner img{
    max-width: 50%;
    height: auto;
}

#pin {
    width: 25px;
    height: auto;
}

.story {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.story a{
    text-decoration: none;
    color: black;
}

.story i {
    color: pink;
    text-shadow: rgb(194, 83, 102);
    text-align: right;
}

.loader-bg {
    position: fixed;
    z-index: 99;
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-img {
    width: 150px;
    height: auto;
}
.loader {
    border-top: 5px solid pink;
    border-bottom: 5px solid orange;
    border-left: 5px solid blue;
    border-right: 5px solid green;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    position: absolute;
    animation: load 2s linear infinite;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.hidden {
    animation: fade 1s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

#back {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid;
    border-color: rgb(248, 239, 223);
    background: rgb(245, 243, 240);
    font-size: 20px;
    text-decoration: none;
    position: fixed;
    z-index: 1;
}

.contact-form {
    background-color: rgb(224, 222, 218);
}

.contact-form-page {
    background: url(angular.jpg);
    background-position: center;
}

.contact-form-text {
    position: relative;
    text-align: center;
}

.contact-done {
    border-color: inherit;
}

.subheading {
    font-weight: 600;
    font-size: 15px;
}

.aboutLead {
    font-weight: bold;
}

.aboutPage {
    background-image: url(ace1c.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 180px 160px;
}

.no-js .loader-bg{
    display: none;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.services {
    width: 100%;
    height: auto;
    background-color: rgb(252, 164, 218);
}

.card-body {
    overflow: hidden;
}

.wrap h4 {
    color: orange;
}

.slider {
    width: 100%;
    height: 40%;
    background-color: whitesmoke;
    padding-top: 45px;
    padding-bottom: 25px;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 
760px) {
    .slider {
        height: 30%;
    }
    .slide {
        margin-top: 60px;
    }
    .clients {
        height: 20%;
        padding-top: 45px;
    }
    .services {
        width: 90%;
        height: auto;
    }
    .contact {
        background-color: whitesmoke;
        text-align: left;
    }
}

@media screen and (min-width: 
1000px) {
    .slider {
        height: 40%;
    }
    .slide {
        margin-top: auto;
    }
}

.slide {
    width: 100%;
    height: auto;
    background-color: whitesmoke;
}

.wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: whitesmoke;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin-left: 15px;
}

.bottom-message {
    text-align: center;
    height: 30%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next{
    color: orange;
    font-size: 22px;
    font-weight: lighter;
}
